* {
    box-sizing: border-box;
}

:root {
    --primary: #FFE4E1;
    --secondary: #DB7093;
    --tertiary: #FFC0CB;
    --white: #FFFAF0;
    --black: #0000;
    --shadow: rgba(0, 0, 0, 0.5);
}

body {
    background-color: var(--primary);
}

header {
    display: flex;
    justify-content: space-between;
    /* add font-family and characterize the font a little more */
    color: var(--secondary);
    font-size: 1.5vw;
    padding: 10px 30px;
}

main {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 3vw;
    color: var(--secondary);
}

main p {
    font-size: 2vw;
    line-height: 1.5;
    padding: 20px;
    color: var(--primary);
}

.focal-pt-bg {
    background-color: var(--secondary);
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px var(--shadow);
}

.answer-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers {
    padding: 8px;
    margin: 3px;
    width: 20%;
    background-color: var(--secondary);
    border-radius: 5px;
    color: var(--primary);
    font-size: 2vw;
}

.answers-hover {
    padding: 8px;
    margin: 3px;
    width: 20%;
    background-color: var(--tertiary);
    border-radius: 5px;
    color: var(--secondary);
    font-size: 2vw;
}

button {
    background-color: var(--tertiary);
    border-radius: 10px;
    border: none;
    color: var(--secondary);
    padding: 10px;
    font-size: 1.5vw;
    box-shadow: 0 0 10px var(--secondary);
}

button:hover {
    color: var(--primary);
}
