* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #FFE4E1;
    --secondary: #DB7093;
    --tertiary: #FFC0CB;
    --white: #FFFAF0;
    --black: #0000;
    --shadow: rgba(219, 122, 147, 0.75);
}

body {
    background-color: var(--primary);
}

header {
    display: flex;
    justify-content: space-between;
    /* add font-family and characterize the font a little more */
    color: var(--secondary);
    font-size: 1.5vw;
    padding: 30px;
}

main {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 3vw;
    color: var(--secondary);
}

main p {
    font-size: 2vw;
    line-height: 1.5;
    padding: 20px;
    color: var(--primary);
}

.focal-pt-bg {
    background-color: var(--secondary);
    border-radius: 20px;
    margin-top: 20px;
    /* padding: 10px; */
    box-shadow: 0 0 10px var(--shadow);
}

.answer-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.answers {
    padding: 8px;
    margin: 3px;
    width: 20%;
    background-color: var(--secondary);
    border-radius: 5px;
    color: var(--primary);
    font-size: 2vw;
    list-style-type: none;
}

.answers-hover {
    padding: 8px;
    margin: 3px;
    width: 20%;
    background-color: var(--tertiary);
    border-radius: 5px;
    color: var(--secondary);
    font-size: 2vw;
    list-style-type: none;
}

button {
    background-color: var(--tertiary);
    border-radius: 10px;
    border: none;
    color: var(--secondary);
    padding: 10px;
    font-size: 1.5vw;
    box-shadow: 0 0 10px var(--secondary);
    margin: 20px;
}

button:hover {
    color: var(--primary);
}

input:focus {
    box-shadow: 0 0 10px var(--shadow);
    outline: none;
}

.flex {
    display: flex;
    justify-content: center;
}

table {
    width: 50%;
    margin: 10px;
}

th {
    padding: 8px;
}

td {
    padding: 8px;
}
